*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:1500px;
    --cardMaxWidth:700px;
}

#logout-container{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    background-color: #001f3f !important;
}

main{
    flex:1;
}

#main-outer-container{
    display: grid;
    place-items: center;
    flex: 1;
    /* flex-direction: column;
    justify-content: center;
    margin-top: 2rem; */
}

#main-inner-container{
    height: auto;
    color: white;
    width: 80%;   
    max-width: var(--cardMaxWidth); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 1 );
}

#login-form-container{
    display:block;
    width: auto ;
    /* border: 2px solid red; */
    padding: 1rem;
}

#welcome-container>h2{
    font-weight: bold;
}

#welcome-container>h2::after{
    content: '';
    display: block;
    height: 1px;
    width: 8rem;
    background-color: white;
    margin: 0rem auto;
    margin-top: 1rem;
}

@media screen and (min-width:500px){

}

