*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #add-form-container{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position:relative;
} */

.input-group{
    /* border: 2px solid red; */
    /* width: 90%;
    max-width: 250px;
    margin: 1rem auto; */
}

/* .input-group:nth-child(2){
    margin-bottom: 1.1rem;
}

.text-input{
    width: 100%;
}

#submit-btn{
    padding: 0.5rem 2.7rem;
    border-radius: 5px;
    background-color: #1A486E;
    cursor:pointer;
    color: black;
    border: 0;
    width: 60%;
    max-width: 150px;
    margin: 0 auto;
} */

