@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:1500px;
}

#main-passwords-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-container{
    flex: 1;
    display: flex;
    flex-direction:column;
    background-color: #fff;
    margin-top: 1rem;
    transition: display 2s ease-in-out;
}


#main-container>#inner-main-container{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#password-card-container{
    flex: 1;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    /* flex-basis: 200px; */
    gap: 0 10px;
    justify-content: center;
}

#pagination-btns-container{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.pagination-btn>button{
    padding: 1.5rem 3rem;
    border-radius: 30px;
    border: 0;
    outline: 0;
    background-color: #183EFA;
    color: white;
}

#selection-btn{
    padding: 0 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: red;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

#btn-show-selection-container{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#selection-container{
    transition: 1s;
}

.collapse{
    min-height: 0;
    overflow: hidden;
}

#selection-container>a{
    color: #000;
}

.add-site-selection,.edit-site-selection,.delete-site-selection{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.add-site-selection::before{
    content: url('../../assets/add.svg');
    margin: 0 0.5rem 0rem 0;
    vertical-align: middle;
}

.edit-site-selection::before{
    content: url('../../assets/eidt.svg');
    margin: 0 0.5rem 0rem 0;
    vertical-align: middle;
}

.delete-site-selection::before{
    content: url('../../assets/del.svg');
    margin: 0 0.5rem 0rem 0;
    vertical-align: middle;
}

@media screen and (min-width:514px){
    #password-card-container{
        justify-content: flex-start;
    }
}