*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:1300px;
}

/* #header-outer-container{
    background-color: green;
} */

header{
    width: auto;
    min-height: 2vh;
}

#inner-header-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#logo-container{
    /* margin-top: 0.3rem; */
    position: relative;
    top: -15px;
}

#logo-container>h4::after{
    content: url('../../../assets/lock.svg');
}


@media screen and (min-width:800px){
    #inner-header-container{
        display: flex;
        /* border: 2px solid red; */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
        max-width: var(--maxWidth);
    }

    #logo-container{
        position: relative;
        top: -10px;
    }
}