*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:1300px;
}

/* #header-outer-container{
    background-color: green;
} */

header{
    width: auto;
    min-height: 2vh;
}

#inner-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
    max-width: var(--maxWidth);
    z-index: 20;
}

#b-btn-container{
    z-index: 12;
}

#logo-containe>a>h4{
    z-index: 14;
    color: black;
    font-size: 2rem;
}

#logo-container>h4::after{
    content: url('../../../assets/lock.svg');
    vertical-align: sub;
}

.bar1,.bar2,.bar3{
    /* height: 2px;
    width: 25px;
    background-color: black;
    margin: 0.5rem; */
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;   
}

.change>#bar{
    background-color: white;
}

.change{
    /* background-color: white; */
    color: white;
    z-index: 10;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    background-color: white;
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: white;
}


@media screen and (min-width:800px){
    #inner-header-container{
    }

    #b-btn-container{
        display: none;
    }

    #logo-container{
        position: relative;
        top: -10px;
    }
}