*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --addCardMaxWidth:600px;
}

#add-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

#add-container>header{
    margin: 0 0 1.5rem 0;
}

#main-add-container{
    display: flex;
    flex-direction:column;
    flex:1;
}
.add-card{
    height: auto;
    display: flex;
    flex-direction: column;
    /* color: white; */
    width: 100%;
    max-width: var(--addCardMaxWidth);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1 );
    margin: 0 auto;
    /* padding: 0 0 2rem 0; */
    flex: 1;
}

#add-card-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 1rem;
}

#add-card-title>h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.add-password-header{
    margin: 0;
    padding: 0;
}

@media screen and (min-width:450px){
    .add-card{
        flex: 0;
    }

    #main-add-container{
        display: grid;
        place-items: center;
    }
}