*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:1300px;
}

#burger-btn-container{
    position:absolute;
    /* top: 0.2rem;
    right: 0.3rem; */
    top: 0.2rem;
    right: 0.3rem;
}

#nav-bar-container{
    margin-top:1rem;
    width: 100%;
    /* border: 2px solid red; */
    
}

#nav-links-container{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease-in-out;
    
}

.nav-links{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: font-size 1s ease-in-out;
    /* color: black; */
}

.nav-links:hover{
    font-size: 1.9rem;
}

#action-btn{
    transition: width 1s ease-in-out;
}

#action-btn:hover{
    width: 150px;
}

@media screen and (min-width:800px){

    #burger-btn-container{
        display: none;
    }

    .nav-links{
        display: inline-block; /*inline block respects height,width,padding and margins top,bottom,left and right*/
        margin-left: 1rem;
    }

    /* .nav-links:nth-child(3){
        margin-right: 1rem;
    } */

    .btn-primary{
        margin: 0 0.5rem 0 1rem;
    }

    #nav-bar-container{
        margin: 1rem;
        width: auto;
    }

    #nav-links-container{
        max-height: 500px;
    }
}