*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:1300px;
}

.full{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-links-container{
    padding: 1rem;
}

#nav-links-container>a{
    display: block;
    margin: 1.5rem 0;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

#action-btns-container>.action-btn{
    margin: 1.5rem 0;
}

#action-btns-container>.action-btn>a>button{
    /* padding: 1rem 2.5rem; */
    width: 100px;
    font-size: 1.7rem;
    font-weight: 500;
    border-color: transparent;
}

.action-btn>#login>button{
    background-color: white;
    color: black;
}

.action-btn>#signout>button{
    background-color: #183EFA;
    color: white;
}

.hides{
    display: none;
}

@media screen and (min-width:800px){

    .nav-links{
        display: inline-block; /*inline block respects height,width,padding and margins top,bottom,left and right*/
        margin-left: 1rem;
    }

    /* .nav-links:nth-child(3){
        margin-right: 1rem;
    } */

    #nav-bar-container{
        position: static;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        align-items: center;
    }

    #action-btns-container>.action-btn{
        margin: 0;
    }

    #nav-links-container>a{
        display: inline-block;
        margin: 0 1rem;
        color: black;
        font-size: 1.8rem;
    }

    #action-btns-container{
        display: flex;
        flex-direction: row;
    }

    .btn-primary{
        margin: 0 0.5rem 0 1rem;
    }

    #nav-bar-container{
    }

    #nav-links-container{
        max-height: 500px;
    }
}