*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:1400px;
}

#welcome-page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #343434;
    color: white;
}

#main-welcome-page{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#explanation-div{
    flex: 5;
    /* background-color: #4e25d9; */
    padding: 0 0 10rem 0;
}

#inner-explanation-container{
    width:90%;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

#welcome-text-container>p{
    font-size: 2rem;
    font-weight: 600;
}

#btns-container>button{
    display: block;
    width: 90%;
    margin: 1rem 1rem;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    transition: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btns-container>button:nth-child(1){
    background-color: #d22;
}

#btns-container>button:nth-child(2){
    /* background-color: #3b70d4; */
}

/* #btns-container>button:hover{
    width: max-content;    
} */

#btns-container:nth-child(1){
    margin-bottom: 1rem;
}

#pros-container{
    /* background-color: #D94E25; */
}

#pros-inner-container{
    width:90%;
    max-width: var(--maxWidth);
    margin: 0 auto;
    
}

#heading-container{
    margin: 0 0 3rem 0;
}

#heading-container>p{
    font-size: 2rem;
}

#card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    /* width: 90%; */
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 2rem;
    /* margin: 0 0 2rem 0; */
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2);
    padding: 3rem 2rem;
}

.card>h2{
    color: black;
}

#pricing-container{
    padding: 0 0 2rem 0;
    /* background-color: #B0D925; */
}

#inner-pricing-container{
    width: 90%;
    max-width: var(--maxWidth);
    margin: 0 auto;
    /* border: 2px solid red; */
}

#inner-pricing-container>h2{
    font-family: neo-sans,Arial,Helvetica,sans-serif;
}

#inner-pricing-container>h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: black;
    margin: 0.5rem auto;
}

@media screen and (min-width:700px){
    #btns-container>button{
        display: inline;
        width: auto;
        padding: 1rem 7rem;
    }

    #btns-container>button:nth-child(1){
        margin: 0 10rem 0 0;
    }

    #card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px 20px;
    }

    #card-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid: 20px 20px;
    }
}

@media screen and (min-width:720px){
    #pricing-card-container{
        display: flex;
        flex-wrap: wrap;
    }
}