@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Raleway&family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eef5fc;
}

#welcome-page-container>main{
    flex: 1;
    /* background-color: red; */
}

#hero{
    min-height: calc(100vh - 25px);
    /* background-color: red; */
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-text-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.review-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text>p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: calc(30px + 1vh);
}

.hero-sub-text>p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sora', sans-serif;
    font-size: 1.5rem;
}

.hero-image-container{
    display: none;
}

.hero-action-btn-container{
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    transition: 1s;
}

.hero-action-btn-container>.hero-action-btn{
    width: 50%;
}

.hero-action-btn>button{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Sora', sans-serif;
}

.hero-action-btn:nth-child(1)>button{
    background-color: #183EFA;
    color: #fff;
}

.hero-action-btn:nth-child(2)>button{
    color: #000;
    font-weight: 700;
}

.review-text{
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
}

.review-container>p:first-child{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.review-container>p:nth-child(2){
    color: blue;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
}



@media screen and (min-width:800px){

    #hero{
        display: flex;
        flex-direction: row;
    }

    .hero-text-container{
        width: 60%;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2.5rem;
    }

    .hero-image-container{
        width: 40%;
        display: block;
        /* border: 2px solid green; */
        background-image: url('../../assets/person.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}