*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:300px;
    --inputMaxWidth:300px;
}

#form-container{
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* border: 2px solid yellow; */
    display: block;
    width: auto;   
    padding: 1rem 0;
    /* border: 1px solid red; */
}

.input-group{
    display: block;
    width: auto ;
    /* background-color: red; */
}

#submit-btn{
    padding: 0.5rem 2.7rem;
    border-radius: 5px;
    background-color: #1A486E;
    cursor:pointer;
    color: black;
    border: 0;
}

#submit-btn:disabled{
    /* disabled button default style */
    background-color: #CDCDCD;
    color: black;
}

.login-text{
    margin-top: 1rem;
}

.form-outer-container-shake{
    animation: shake 0.5s;

    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}