@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#password-page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#password-page-container>main{
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}


#password-page-container>main>h2{
    color: #000;
    font-family: 'Roboto', sans-serif;
}

#password-page-container>main>#password-enc-dec-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 0 1rem;
}

#password-page-container>main>#password-enc-dec-container>p{
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

#password-page-container>.pass-lock{
    position: fixed;
    bottom: 0;
    right: 0;
}

#password-page-container>#left-arrow{
    position: fixed;
    top: 0;
    left: 5px;
}