*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maxWidth:1500px;
}

#sign-up-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #001f3f;
    /* border: 2px solid green; */
}

#main-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    border: 2px solid red;
    margin-top: 1rem;
}

#sign-up-page-image{
    max-width: 100%;
    max-height: 100%;
}

#img-container{
    display: none;
}

#main-inner-container{
    position: relative;
    top: -100px;
    /* border: 2px solid green; */
    padding: 2rem;
}

#register-form-container{
    display: block;
    /* border: 2px solid yellow; */
    width: auto;
    /* padding: 2rem; */
}


@media screen and (min-width:800px){
    #main-inner-container{
        display: flex;
        justify-content: center;
        width: 100vw;
        max-width: var(--maxWidth);
        margin: 0 auto;
    }

    #img-container{
        display: block;
        width: 40%;
    }

    #register-form-container{
        width: 60%;
        margin-right: 1rem;
    }

    #register-form-container{
        display: flex;
        flex-direction: column;
    }

    #sign-up-page-image{
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        max-height: 100%;
    }
}